html {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/147/289/original/weather.jpg?1728812586");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background: #fff;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  font-family: "Kumbh Sans", sans-serif;
}
header {
  border-bottom: 1px solid #faf7fe;
  padding: 0 0 30px 0;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
h1 {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
p {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
}
p strong {
  color: #f65282;
}
footer {
  border-top: 1px solid #faf7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
a {
  color: #885df1;
}
.type-box {
  background-color: #faf7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
  transition: all 200ms ease-in-out;
}
.search-button:hover {
  background: #fff;
  color: #885df1;
  cursor: pointer;
}
.temperature {
  font-size: 88px;
  font-weight: bold;
}
.icon {
  font-size: 80px;
  margin-top: 22px;
}
.unit {
  font-size: 80px;
  padding-top: 4px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 20px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 5px;
}
